* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main {
  width: 800px;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
}

/* For text input in form */
#text_area {
      background: white center center no-repeat;
      line-height: 1;
      border: 1px solid rgb(194, 190, 190);
      border-radius: 10px;    
      overflow: -moz-scrollbars-none; 
      resize: none;
      width: 100%;
      height: 5vh;
      padding-left: 10px;
      font-size: 16px;
      scrollbar-width: none; 
      -ms-overflow-style: none;
  }

  #text_area::-webkit-scrollbar { 
      width: 0 !important 
  }

/* For button in form */
.user_action_button {
      padding: 1em;
      font-size: 12px;
      letter-spacing: 2px;
      background-color: #fff;
      border: none;
      border-radius: 30px;
      transition: all 0.3s ease 0s;
  }

  .user_action_button:hover {
      background-color: #34bd86;
      color: blue;
      transform: scale(0.9);
  }

  .user_action_button:active {
      transform: translateY(-1px);
  }

  #add_button {
      padding: 1em 3em;
      width: 100%;
  }


/* For todo list */
#top_bar{
  margin-top: 5px;
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  line-height: 25px;
}

#this_is_text {
  width:40%
}

#this_is_createdTime {
  width:20%
}

#this_is_updatedTime {
  width:20%
}

#delete_check {
  width:20%
}

#todo_list {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

#todo_list::-webkit-scrollbar { 
  width: 0 !important 
}

.todo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  margin-top: 5px;
  min-height: 2em;
}

.metadata_div {
  display: flex;
  flex-direction: row;
  width: 80%
}

.todo_text {
  width: 50%;
  padding-right:5px;
  padding-left:5px;
}

.todo_createTime_div {
  width: 25%
}

.todo_updateTime_div {
  width: 25%
}

.button_div {
  display: flex;
  flex-direction: row;
  width: 20%;
  height: 100%;
}

.delete {
  padding: 0.5em;
  font-size: 14px;
  width: 50%;
  height: 10%;
}

.check {
  padding: 0.5em;
  font-size: 14px;
  width: 50%;
  height: 10%;
}

.false {
  box-shadow: inset 0px -1px red;
}

.true {
  box-shadow: inset 0px -1px green;
}


 /* Cannot solve the synchronous problem */
/* @keyframes completed_todo {
  25% {box-shadow: inset 0px 1px green;}
  50% {box-shadow: inset -2px 0px green;}
  75% {box-shadow: inset 0px -1px green;}
  100% {box-shadow: inset 2px 0px green;}
}

@keyframes incompleted_todo {
  25% {box-shadow: inset 0px 1px red;}
  50% {box-shadow: inset -2px 0px red;}
  75% {box-shadow: inset 0px -1px red;}
  100% {box-shadow: inset 2px 0px red;}
} */


/* FOR MOBILE VIEW */
@media (max-width: 460px) {
  * {
      font-size:10px
  }
  #main {
      width: 100%;
      height: 100vh;
      background-color: rgb(231, 231, 231);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: auto;
  }


  .user_action_button {
      border: 1px solid #ccc;
      padding: 5px;
      letter-spacing: 0px;
      font-size: 8px;
      background-color: #fff;
      border: none;
      border-radius: 30px;
  }

  .user_action_button:hover {
      background-color: #34bd86;
      color: blue;
      transform: scale(0.9);
  }

  .user_action_button:active {
      transform: translateY(-1px);
  }
}

